name: Deploy to ECR

on:
 
  push:
    branches: [ dev ]

jobs:
  
  build:
    
    name: Build Image
    runs-on: ubuntu-latest

   
    steps:

    - name: Check out code
      uses: actions/checkout@v2
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
    
    - name: Set build date as tag
      run: |
        build_date=$(date +"%Y%m%d%H%M")
        echo $build_date
        echo $build_date >> build-info.txt
        echo "::set-output name=tag::$build_date"

    - name: Build and Push Docker images
      id: build-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
        
      run: |
        
        IMAGE_TAG=$(cat build-info.txt)
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        echo "Pushing image to ECR..."
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"
    
    ## Connect to the Git where the Helm chart is
    - name: Setup Git
      run: |
        git config user.name "${{ github.actor }}"
        git config user.email "${{ github.actor }}@users.noreply.github.com"

    - name: Checkout private tools
      uses: actions/checkout@v3
      with:
        repository: stephvan/lifebitdemo
        token: ${{ secrets.GH_PAT }} # `GH_PAT` is a secret that contains your PAT
        path: lifebitdemo

    - name: Update Version
      id: update_version
      run: |
        ls
        tree -h
        cd ..
        pwd
        target_repo_owner=stephvan
        target_repo=lifebitdemo
        target_branch=dev
        IMAGE_TAG=$(cat build-info.txt)
        echo $IMAGE_TAG

        version=$(curl -H "Authorization: token ${{ secrets.GH_TOKEN }}" \
                 -H "Accept: application/vnd.github.v3.raw" \
                 -s "https://api.github.com/repos/$target_repo_owner/$target_repo/contents/Infra/Helm/values.yaml" \
                 | grep version: | awk '{print $2}')
        echo "Version in values.yaml: $version"

        new_version=$IMAGE_TAG

        sed -i "s/$version/$new_version/" ./Infra/Helm/values.yaml

        mkdir temp_dir
        cp ./Infra/Helm/values.yaml temp_dir

        gh_token="${{ secrets.GH_TOKEN }}"
          authorization_header="Authorization: token $gh_token"
        echo "https://api.github.com/repos/$target_repo_owner/$target_repo/contents/Infra/Helm/values.yaml"

        curl -H "$authorization_header" \
          -X PUT "https://api.github.com/repos/$target_repo_owner/$target_repo/contents/Infra/Helm/values.yaml" \
          -d @temp_dir/values.yaml \
          -H "Content-Type: application/json" \
          -d "{\"message\": \"Update version to $new_version\", \"branch\": \"$target_branch\"}"

        rm -rf temp_dir

      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}