name: Deploy to ECR

on:
 
  push:
    branches: [ dev ]

jobs:
  
  build:
    
    name: Build Image
    runs-on: ubuntu-latest

   
    steps:

    - name: Check out code
      uses: actions/checkout@v2
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and Push Docker images
      id: build-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: ${{ env.ECR_REPOSITORY }}
        
      run: |
        # Build a docker container and push it to ECR
        git_hash=$(git rev-parse --short "$GITHUB_SHA")
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:${GITHUB_REF##*/}-$git_hash .
        echo "Pushing image to ECR..."
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        echo "::set-output name=image::$ECR_REGISTRY/$ECR_REPOSITORY:${GITHUB_REF##*/}-$git_hash"
    
    ## Connect to the Git where the Helm chart is
    - name: Setup Git
      run: |
        git config user.name "${{ github.actor }}"
        git config user.email "${{ github.actor }}@users.noreply.github.com"

    - name: Update Version
      id: update_version
      run: |
        target_repo_owner=stephvan
        target_repo=lifebitdemo
        target_branch=dev

        git_hash=$(git rev-parse --short "$GITHUB_SHA")
        version=$(cat ./charts/helm-example/values.yaml | grep version: | awk '{print $2}')
        new_version="${GITHUB_REF##*/}-$git_hash-$git_hash"

        sed -i "s/$version/$new_version/" ./Infra/Helm/values.yaml

        mkdir temp_dir
        cp ./Infra/Helm/values.yaml temp_dir

        gh_token="${{ secrets.GH_TOKEN }}"
          authorization_header="Authorization: token $gh_token"

        curl -H "$authorization_header" \
          -X PUT "https://api.github.com/repos/$target_repo_owner/$target_repo/contents/Infra/Helm/values.yaml" \
          -d @temp_dir/values.yaml \
          -H "Content-Type: application/json" \
          -d "{\"message\": \"Update version to $new_version\", \"branch\": \"$target_branch\"}"

        rm -rf temp_dir

      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}